[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
jax = {extras = ["tpu"]}
flax = "*"
torch = "*"
torchvision = "*"
click = "*"
matplotlib = "*"
tensorflow-cpu = "*"
statsmodels = "*"

[dev-packages]
black = {extras = ["jupyter"]}

[requires]
python_version = "3.10"
